DinoViT/
EfficientSAM/
Misc/
gim/
weights/
.DS_Store
# Ignore __pycache__ directories
__pycache__/
experiments/pencile_sharpener/__pycache__/
experiments/wood/__pycache__/

# Ignore specific files or directories
dust.py
mini_dust3r/
my_mesh.obj

dataset/
legacy/
random_experiments/