from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    return LaunchDescription([
        Node(
            package='realsense2_camera',
            executable='rs_launch.py',
            name='d405_camera',
            parameters=[{'align_depth.enable': True, 'device_type': 'd405', 'camera_name': 'd405'}]
        ),
        Node(
            package='realsense2_camera',
            executable='rs_launch.py',
            name='d415_camera',
            parameters=[{'align_depth.enable': True, 'device_type': 'd415', 'camera_name': 'd415'}]
        )
    ])
