<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="2.40485 -0.415064 1.11965" rpy="0.0430922 -2.16459 1.57144" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="2.40485 -0.415064 1.11965   0.617311 0.631207 -0.318428 -0.345119 yumi_base_link camera_color_optical_frame" />
</launch>
