<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="1.0087 -0.0448651 0.61351" rpy="0.0254529 -2.14516 1.58115" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="1.0087 -0.0448651 0.61351   0.620028 0.622197 -0.331751 -0.344062 world camera_color_optical_frame" />
</launch>
